body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sticky {
  height: 75px;
  position: fixed;
  top: -10px;
  background-color: white;
  z-index: 10;
}

.hidden-element {
  visibility: hidden;
}

.display-none {
  width: 0;
  display: none;
}

.site-bar {
  width: 30%;
  display: block;
}

.nav-bar-div {
  transition: 2s;
}

.site-title {
  transition: 2s;
}

.load-more-btn {
  transition: 1s linear;
}